[Unit]
Description=Sam the Scraper

[Service]
ExecStart=/usr/bin/python3 /path/to/main.py
WorkingDirectory=/path/to/sam/folder
Environment=SAM_API_KEY=your_api_key_here

[Install]
WantedBy=default.target
